{% extends "layout.html" %}

{% block content %}
<div class="container text-center">
    <div class="row">
        <div class="col" style="background-color: rgba(255, 255, 255, 0.897);">
            <h1>También ofrecemos clases online de algunos instrumentos</h1>
            <h2>¡Inscríbete ahora! :D</h2>
            <br>        
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col" style="background-color: rgba(250, 167, 250, 0.897);">
            <p>CLASE</p>      
        </div>
        <div class="col" style="background-color: rgba(245, 210, 250, 0.897);">
            <p>CARACTERISTICAS</p>     
        </div>
        <div class="col" style="background-color: rgba(176, 170, 250, 0.897);">   
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col" style="background-color: rgba(250, 167, 250, 0.897);">
            <br>
            <br>
            <p>Clase de VIOLIN</p>      
        </div>
        <div class="col" style="background-color: rgba(245, 210, 250, 0.897);">
            <p>En esta clase aprenderás desde lo más básico hasta lo mas avanzado aqui el método de estudio será basado 
                con el método de susuki. El Método Suzuki es una metodología de iniciación temprana en la enseñanza musical, cuyo objetivo 
                es el desarrollo pleno del niño, joven, adulto, etc. a través del aprendizaje de instrumentos como el violín o la viola.
                Nuestros alumnos desde los 3 años disfrutan en sus clases de música del aprendizaje de violín con este metodo.
            </p>     
        </div>
        <div class="col" style="background-color: rgba(176, 170, 250, 0.897);">
            <br>
            <center><img src="/static/images/clases/A1.gif" width="250px" height="250px"></center>
            <br>   
        </div>
    </div>
    <div class="row">
        <div class="col" style="background-color: rgba(255, 255, 255, 0.897);">
            .      
        </div>
    </div>
    <div class="row">
        <div class="col" style="background-color: rgba(250, 167, 250, 0.897);">
            <br>
            <br>
            <p>Clase de GUITARRA</p>      
        </div>
        <div class="col" style="background-color: rgba(245, 210, 250, 0.897);">
            <p>En esta clase aprenderás desde lo más básico hasta lo mas avanzado podras incluso apreder un poco del arte
                de escribir canciones al igual que componerlas ya que llevas a la mano una herramienta de armonia 
                la cual te ayudará incluso a encontrar la manera de aprender e incluso un poco de canto. Se basa principalmente el 
                el metodo PLAY ACUSTIC. Play acoustic es una guía completa de guitarra acústica que contiene desde 
                los estilos del rock, blues, jazz, latino, etc. Hasta teoría y técnicas desde nivel principiantes y 
                intermedio, todo un contenido realizado a medida especialmente dirigído a la guitarra acústica o 
                electroacústica (cuerdas de acero).
            </p>     
        </div>
        <div class="col" style="background-color: rgba(176, 170, 250, 0.897);">
            <br>
            <center><img src="/static/images/clases/A2.gif"  width="250px" height="250px"></center>
            <br> 
        </div>
    </div>
    <div class="row">
        <div class="col" style="background-color: rgba(255, 255, 255, 0.897);">
            .      
        </div>
    </div>
    <div class="row">
        <div class="col" style="background-color: rgba(250, 167, 250, 0.897);">
            <br>
            <br>
            <p>Clase de TECLADO</p>      
        </div>
        <div class="col" style="background-color: rgba(245, 210, 250, 0.897);">
            <p>En esta clase aprenderás desde lo más básico hasta lo mas avanzado sin embargo aqui utilizarás 
                dos métodos de estudio el clásico y el tradicional sin embargo podemos dividir este método en tres 
                partes: aprender solfeo, aprender el ritmo y, por último, la práctica musical con la ayuda de 
                partituras y ejercicios.Además de esto aprenderás como improvisar y como hacer arreglos musicales 
                de acuerdo a lo que sea que estas tocando.
            </p>     
        </div>
        <div class="col" style="background-color: rgba(176, 170, 250, 0.897);">
            <br>
            <center><img src="/static/images/clases/A3.gif"  width="250px" height="250px"></center>
            <br>   
        </div>
    </div>
    <div class="row">
        <div class="col" style="background-color: rgba(255, 255, 255, 0.897);">
            .      
        </div>
    </div>
    <div class="row">
        <div class="col" style="background-color: rgba(250, 167, 250, 0.897);">
            <br>
            <br>
            <p>Clase de FLAUTA</p>      
        </div>
        <div class="col" style="background-color: rgba(245, 210, 250, 0.897);">
            <p>En este clase aprenderás desde lo más básico hasta lo mas avanzado, desde la colocación de 
                los dedos en cada respectiva posición, la mera en la que debes soplar y las medidas de precausión
                 que debes de tener también se te brindará un método de estudio en el cual encontrarás escritas algunas
                 melodías que podrás tocar.
            </p>     
        </div>
        <div class="col" style="background-color: rgba(176, 170, 250, 0.897);">
            <br>
            <center><img src="/static/images/clases/A4.gif"  width="250px" height="250px"></center>
            <br>   
        </div>
    </div>
    <div class="row">
        <div class="col" style="background-color: rgba(255, 255, 255, 0.897);">
            .      
        </div>
    </div>
    <div class="row">
        <div class="col" style="background-color: rgba(250, 167, 250, 0.897);">
            <br>
            <br>
            <p>Clase de BATERIA</p>      
        </div>
        <div class="col" style="background-color: rgba(245, 210, 250, 0.897);">
            <p>En esta clase aprenderás desde lo más básico hasta lo mas avanzado. La bateria es un instrumento que 
                marca el ritmo de toda la pieza ritmica en este caso no solo nesesitarás estar muy atento y agudizar 
                tus sentidos, también deberás tener una excelente coordinacion de todo tu cuerpo, 
                pero no te preocupes aquí te enseñaremos y de esta manera se te facilitara y aprenderás más rápido.
                También se incluira un método de estudio.
            </p>     
        </div>
        <div class="col" style="background-color: rgba(176, 170, 250, 0.897);">
            <br>
            <center><img src="/static/images/clases/A5.gif"  width="250px" height="250px"></center>
            <br>   
        </div>
    </div>
    <div class="row">
        <div class="col" style="background-color: rgba(255, 255, 255, 0.897);">
            .      
        </div>
    </div>

</div>
{% endblock %}