{% extends "layout.html" %}

{% block content %}
<div class="container text-center">
    <div class="row">
        <div class="col" style="background-color: rgba(255, 255, 255, 0.897);">
            <section class="main">
                <section class="articles">
                    <article>
                        <h2>Comentarios</h2>
                    </article>
                    <article>
                        <table width="100%" border="1" cellpadding="0" bordercolor="#000000">
                            <tbody>
                            <tr>
                                <td color="#fab9f0" bgcolor="#FFA0EB" valign="top">
                                    <right><h3><a href="/contacto">Agregar Comentario</a></h3></right>
                                    <center><h2>Comentarios registrados</h2></center>
                                    <table width="100%" border="1" cellpadding="0" bordercolor="#000000">
                                        <thead>
                                        <tr>
                                            <td color="white" bgcolor="#c890f5">Correo</td>
                                            <td color="white" bgcolor="#c890f5">Descripcion</td>
                                            <td color="white" bgcolor="#c890f5"></td>
                                            <td color="white" bgcolor="#c890f5"></td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in comentarios %}
                                        <tr>
                                            <td width="42%">
                                                {{i.1}}
                                            </td>
                                            <td width="42%">
                                                {{i.2}}
                                            </td>
                                            <td bgcolor="#9698FF" width="8%">
                                                <center><a href="/editar/{{i.0}}" style="...">Editar</a></center>
                                            </td>
                                            <td bgcolor="#9698FF" width="8%">
                                                <center><a href="/borrar/{{i.0}}" style="...">Borrar</a></center>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </article>
                </section>
            </section>
            <footer>
                <p>@2022 M&C</p>
            </footer>
        </div>
    </div>
</div>
{% endblock %}