{% extends "layout.html" %}

{% block content %}
<div class="container text-center">
    <div class="row">
      <div class="col" style="background-color: rgba(255, 255, 255, 0.897);">
        <h1>BIENVENIDOS A M&C</h1>
        <br>
        <p>Bienvenid@ te conteré un poco de nuestra pequeña página web, nosotros somos un equipo de la ciudad de 
            Aguascalientes México, trabajamos arduamente para traer la felicidad a tu vida con nuestros productos 
            fanmade y officiales ademas de intrumentos musicales de alta calidad. Aquí encontrarás todo lo relacionado
            con tus artistas favoritos y marcas favoritas. Siempre tratamos de hacer nuestro mejor esfuerzo para enviar sus 
            productos sin importar dónde se encuentre. Enviamos nuestros productos a todo el mundo :3. 
            Gracias por su confianza y amor.
        </p>
        <br>
      </div>
    </div>
</div>
{% endblock %}