{% extends "layout.html" %}

{% block content %}
<div class="container text-center">
    <div class="row">
        <div class="col" style="background-color: rgba(255, 255, 255, 0.897);">
            <section class="main">
                <section class="articles">
                    <article>
                        <center><p><h2>¡Ups! Tenemos problemas...-</h2></p></center>
                    </article>
            
                    <article>
                        <div id="usuarioos">
                            <center><p><h3>Ummm lo sentimos</h3></p></center>
                            <br>
                            <center><p><h3>Inicio de sesión incorrecto, revisa los datos y vuelve a intentarlo</h3></p></center>
                            <br>
                            <center><a href="/login"><h3>Volver</h3></a></center>
                        </div>
                    </article>
                </section>
            </section>
            <footer>
                <p>@2022 M&C</p>
            </footer>
        </div>
    </div>
</div>

{% endblock %}