{% extends "layout.html" %}

{% block content %}
<div class="container text-center">
    <div class="row">
        <div class="col" style="background-color: rgba(255, 255, 255, 0.897);">
            <section class="main">
                <section class="articles">
                    <article>
                        <center><p><h2>Bienvenid@ a M&C</h2></p></center>
                    </article>
            
                    <article>
                        <div id="users">
                            <center><p><h3>Bienvenid@ de vuelta</h3></p></center>
                            <br>
                            <center><p><h3>Inicio de sesión exitoso</h3></p></center>
                            <br>
                            <center><a href="/login"><h3>Volver a inicio</h3></a></center>
                    </article>
                </section>
            </section>
            <footer>
                <p>@2022 M&C</p>
            </footer>   
        </div>
    </div>
</div>
{% endblock %}
