{% extends "layout.html" %}

{% block content %}
<div class="container text-center">
    <div class="row">
      <div class="col" style="background-color: rgba(255, 255, 255, 0.897);">
        <section class="main">
            <section class="articles">
                <article>
                    <center><h2>Bienvenidos a MSH</h2>
                    <p>-Encuentra aquí tus álbumes e instrumentos favoritos-
                        <br>
                        En caso de no encontrar el producto que deseas ¡Mándanos mensaje a nuestras redes sociales!
                        </br>
                    </p></center>
                </article>
                <article>
                    <center><h2 style="background-color: rgb(242, 143, 255);">-¡Álbums fisicos disponibles!-</h2></center>
                </article>
                <article>
                    <br><h4><p>-ÁLBUM FACE YOURSELF BTS-</p></h4></br>
                    <ul>
                        <h5>Canciones Incluidas:</h5>
                        <p> INTRO: Ringwaderung</p>
                        <p> Best Of Me -japanese ver-</p>
                        <p> Blood, Sweat, Tears -japanese ver-</p>
                        <p> DNA -japanese ver-</p>
                        <p> Not Today -japanese ver-</p>
                        <p> MIC Drop -japanese ver-</p>
                        <p> Don't Leave Me</p>
                        <p> Go, rather than worrying -japanese ver-</p>
                        <p> Crystal Snow</p>
                        <p> Spring Day -japanese ver-</p>
                        <p> Let Go</p>
                        <p> OUTRO: Crack</p>
                        PRECIO: $950
                        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/66J1OXSaS3hBZASOV3el8t?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                    </ul>
                    </p>
                    <hr>
                    <br><h4><p>-The Álbum BLACKPINK-</p></h4></br>
                    <ul>
                        <h5>Canciones Incluidas:</h5>
                        <p> How You Like That</p>
                        <p> Ice Cream ft. Selena Gomez</p>
                        <p> Pretty Savage</p>
                        <p> Bet You Wanna</p>
                        <p> Lovesick Girls</p>
                        <p> Crazy Over You</p>
                        <p> Love To Hate Me</p>
                        <p> You Never Know</p>
                        PRECIO: $720
                        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/71O60S5gIJSIAhdnrDIh3N?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                    </ul>
                    <br><h4><p>-Harry's House HARRY STYLES-</p></h4></br>
                    <ul>
                        <h5>Canciones Incluidas:</h5>
                        <p> Music for a sushi restaurant</p>
                        <p> Late night talking</p>
                        <p> Grapejuice</p>
                        <p> As it was</p>
                        <p> Daylight</p>
                        <p> Little freak</p>
                        <p> Matilda</p>
                        <p> Cinema</p>
                        <p> Daydreaming</p>
                        <p> Keep driving</p>
                        <p> Satellite</p>
                        <p> Boyfriends</p>
                        <p> Love of my life</p>
                        PRECIO: $820
                        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/5r36AJ6VOJtp00oxSkBZ5h?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                    </ul>
                    <hr>
                    <br><h4><p>-Smile KATY PERRY-</p></h4></br>
                    <ul>
                        <h5>Canciones Incluidas:</h5>
                        <p> Never really over</p>
                        <p> Cry about it later</p>
                        <p> Teary eyes</p>
                        <p> Daisies</p>
                        <p> Resilient</p>
                        <p> Not the end of the world</p>
                        <p> Smile </p>
                        <p> Champagne problems</p>
                        <p> Tucked </p>
                        <p> Harleys in Hawaii</p> 
                        <p> Only love </p>
                        <p> What makes a woman</p>
                        PRECIO: $710
                        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/47zMF6LrXQ8odi6Xv1unC0?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                    </ul>
                    <hr>
                    <br><h4><p>-Dolls EP BELLA POARCH-</p></h4></br>
                    <ul>
                        <h5>Canciones Incluidas:</h5>
                        <p> Build a Bitch</p>
                        <p> Dolls</p>
                        <p> Living Hell</p>
                        <p> No Man's Land</p>
                        <p> Villain</p>
                        <p> INFERNO</p>
                        PRECIO: $1800
                        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/4W8QhTVggLgkJLdsXLLnnz?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                    </ul>
                    </p>
                    <center><h2 style="background-color: rgb(242, 143, 255);">-¡Instrumentos disponibles!-</h2></center>
                    <br><h4><p>-Violín-</p></h4></br>
                    <ul>
                        Incluye:
                        <p> Estuche de material sólido reforzado de esponja de alta calidad</p>
                        <p> Dos tipos de breas</p>
                        <p> Guía rápida de uso</p>
                        <p> El método de susuki</p>
                        Marca:
                        <p> Amadeus guellinis</p>
                        PRECIO: $4500
                        <center><img src="/static/images/product-images/6.png"  width="310px" height="440px"></center>
                    </ul>
                    </p>
                    <hr>
                    <br><h4><p>-Guitarra Acústica-</p></h4></br>
                    <ul>
                        Incluye:
                        <p> Reregistroclase de 6 cuerdas</p>
                        <p> Cejilla</p>
                        <p> Funda</p>
                        Marca:
                        <p> Gibson</p>
                        PRECIO: $3300
                        <center><img src="/static/images/product-images/7.png"  width="400px" height="400px"></center>
                    </ul>
                    </p>
                    <hr>
                    <br><h4><p>-Teclado-</p></h4></br>
                    <ul>
                        Incluye:
                        <p> Funda</p>
                        <p> Método de estudio rápido </p>
                        <p> Cuenta con más de 150 combinaciones de sonido</p>
                        <p> Base para colocar el teclado</p>
                        Marca:
                        <p> YAMAHA</p>
                        PRECIO: $1500
                        <center><img src="/static/images/product-images/8.png"  width="400px" height="400px"></center>
                    </ul>
                    </p>
                    <hr>
                    <br><h4><p>-Flauta-</p></h4></br>
                    <ul>
                        Incluye:
                        <p> Funda</p>
                        <p> Método de estudio rapido</p>
                        <p> Paño limpiodor</p>
                        Marca:
                        <p> YAMAHA</p>
                        PRECIO: $150
                        <center><img src="/static/images/product-images/9.png"  width="400px" height="400px"></center>
                    </ul>
                    </p>
                    <hr>
                    <br><h4><p>-Bateria-</p></h4></br>
                    <ul>
                        Incluye:
                        <p> Dos platillos de reregistroclase</p>
                        <p> Dos parches extra</p>
                        <p> Su juego de baquetas</p>
                        PRECIO: $10,000
                        <center><img src="/static/images/product-images/10.png"  width="400px" height="400px"></center>
                    </ul>
                    </p>
                    </p><footer>
                        <p>@2022 M&C</p>
                    </footer>
                </article>
            </section>
        </section>
        </article>
        </section>
        </section>
      </div>
    </div>
  </div>
</body>
</html>
{% endblock %}